@model Core.ViewModel.PostCardViewModel



<div class="card mb-3 shadow-sm"
     style="cursor:pointer;"
     onclick="window.location='@Url.Action("Index", "Post", new { id = Model.Id })'">

    <div class="card-body">

        <h5 class="card-title">
            
                @Model.Title
           
        </h5>

        <div class="card-subtitle mb-2 text-muted small">
            <span>Posted on @Model.CreatedAt</span>

          
            @*
                if i  show posts in community this will null
            *@
            @if (!string.IsNullOrEmpty(Model.CommunityName))
            {
                <span>
                    in
                    <a class="fw-bold text-muted text-decoration-none" asp-controller="Community" asp-action="Details" asp-route-id="@Model.CommunityId">
                        @Model.CommunityName
                    </a>
                </span>
            }
            @*
                if i  show posts in Profile this will null
            *@
            @if (!string.IsNullOrEmpty(Model.AuthorName))
            {
                <span>
                    by
                    <a class="fw-bold text-muted text-decoration-none" asp-controller="Account" asp-action="Profile" asp-route-username="@Model.AuthorName">
                        @Model.AuthorName
                    </a>
                </span>
            }
        </div>
        
        

        <hr />
        <p class="card-text">
            @(Model.Content.Length > 100 ? Model.Content.Substring(0, 100) + "..." : Model.Content)
        </p>

    </div>
</div>
    